body {
    margin: 0;
    font-family: "Inconsolata", monospace;
    background-color: #f0f0f0;
    color: #333;
}
nav {
    height: 50px;
    padding: 10px;
    background-color: #333;
    color: white;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    padding: 10px 15px;
}
nav ul a:hover {
    background-color: #555;
    border-radius: 5px;
}
.contentContainer {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}
.contentTitle {
    text-align: center;
    margin-bottom: 20px;
}
.contentTitle h1 {
    font-size: 2.5rem;
    color: #333;
}
.msgError {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    color: red;
}
.productContainer {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.productContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productDetails {
    flex: 1;
    padding: 10px;
}
.productDetails ul {
    list-style-type: none;
    padding: 0;
}
.productDetails ul li {
    margin-bottom: 10px;
}
.productImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
.productImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.buyButton {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}
.buyButton:hover {
    background-color: #45a049;
}s